form {
    width: 60vw;
    padding: 1rem;
    padding-top: .1rem;
    margin-bottom: 1rem;
}
textarea {
    font-family: 'Jost', sans-serif;
    padding-left: .3rem;
}
fieldset {
    padding: 1rem;
    padding-top: .1rem;
}
.contenidoContacto {
    height: 66vh;
}
.contenidoRegistro {
    display: block;
}
@media only screen and (max-width: 520px) {
    .contenidoContacto {
        height: 100%;
    }
    form {
        width: 80vw;
    }
}
@media only screen and (max-width: 360px) {
    .contenidoContacto {
        height: 100%;
    }
}