form {
    width: 50vw;
    padding: 1rem;
    padding-top: .1rem;
    margin-bottom: 1rem;
}
textarea {
    font-family: 'Jost', sans-serif;
    padding-left: .3rem;
    width: 100%;
}
fieldset {
    padding: 1rem;
    padding-top: .1rem;
}
.contenidoRegistro {
    display: block;
}
input {
    padding: .2rem;
    width: 100%;
}
.checkbox {
    padding: 1rem;
    width: auto;
}
@media only screen and (max-width: 520px) {
    form {
        width: 80vw;
    }
}
@media only screen and (max-width: 360px) {
    .contenidoContacto {
        height: 100%;
    }
}