* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Jost', sans-serif;
    line-height: 2rem;
}
h1 {
    font-family: 'Righteous', cursive;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
@mixin hw ($height, $width) {
    width: $width;
    height: $height;
}
@mixin box ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}
.titulos {
    @include box (1rem, 0);
    text-align: center;
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
    color: $grisoscuro;
    font-weight: 900;
}
.elementoCentrado {
    display: flex;
    justify-content: center;
    align-items: center;
}
.elementoIzquierda {
    display: flex;
    justify-content: flex-start;
}
.texto {
    @include hw (20%, 100%);
    text-align: center;
    overflow: auto;
    @include box (1.5rem, 0);
}
.button {
    @include box (.5rem .8rem, .5rem);
    font-size: .8rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: $colorprincipal;
    border: none;
    border-radius: .8rem;
    box-shadow: 0 .3rem #999;
    &:hover {
        background-color: #7878fa;
      }
    &:active {
        background-color: #c2c2ff;
        box-shadow: 0.2rem #666;
        transform: translateY(4px);
    }
}