.titulo {
    background-color: $colorprincipal;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    img {
        width: 60px;
    }
}
nav {
    padding: 1rem;
    @include hw (10vh, 100%);
    background-color: $grisoscuro;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        text-decoration: none;
        color: white;
        padding: .5rem 1rem;
        &:hover {
            background-color: $grisclaro;
            color: white;
            transition: all .25s;
        }
    }
}
footer {
    height: 14vh;
    background-color: $grisoscuro;
    color: white;
    padding: .7rem, 0;
    h5 {
        font-size: 1rem;
    }
    ul {
        li {
            display: inline-block;
            font-size: 1rem;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    color: $colorprincipal;
                    transition: all .25s;
                }
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    .titulo {
        height: 12vh;
    }
    nav {
        @include hw (10vh, 100vw);
        a {
            padding: .5rem;
        }
    }
}  
@media only screen and (max-width: 360px) {
    nav {
        font-size: .7rem;
        height: 8vh;
    }
}
@media only screen and (max-width: 280px) {
    nav {
        font-size: .6rem;
    } 
    footer {
        width: 100%;
    }
}