.titulo {
    background-color: $colorprincipal;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    h1 {
        font-family: 'Righteous', cursive;
        color: white;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 900;
        padding: 0;
        margin: 0;
    }
    img {
        @include hw (3.5rem, auto);
        margin-right: .5rem;
    }
}
nav {
    padding: 1rem;
    font-size: 1rem;
    font-family:'Jost', sans-serif; 
    @include hw (10vh, 100%);
    background-color: $grisoscuro;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        text-decoration: none;
        color: white;
        padding: .5rem 1rem .5rem 1rem;
        &:hover {
            background-color: $grisclaro;
            color: white;
            transition: all .25s;
            border-radius: 5%;
            margin: 0;
        }
    }
}
.active {
    background-color: $grisclaro;
    color: white;
}
.navDesktop {
    display: contents;
}
.navMobile {
    display: none;
}
.sidenav {
    @include hw (100%, 0);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $grisoscuro;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.5rem;
    a {
        padding: .5rem 0 2rem .5rem;
        text-decoration: none;
        font-size: 1.3rem;
        display: block;
        transition: 0.3s;
        &:focus {
            color: #f1f1f1;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 1.5rem;
        font-size: 2rem;
        margin-left: 3.2rem;
    }
    nav {
        padding: .5rem;
        @include hw (8vh, 100%);
        display: block;
        a {
            text-decoration: none;
            color: white;
            padding: .5rem 1rem;
            &:focus {
                background-color: $grisclaro;
                color: white;
                transition: all .25s;
            }
        }
    }
  }
footer {
    height: 14vh;
    background-color: $grisoscuro;
    color: white;
    padding: .8rem;
    font-family: 'Jost', sans-serif;
    h4 {
        font-size: 1rem;
        font-weight: 800;
    }
    ul {
        padding: 0;
        li {
            display: inline-block;
            font-size: 1rem;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    color: $colorprincipal;
                    transition: all .25s;
                }
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    .titulo {
        height: 12vh;
        display: flex;
        justify-content: flex-start;
        padding-left: .8rem;
        .nombre {
            margin: 0 1.5rem 0 1.5rem;
            width: 60vw;
        }
        .icono {
            width: 10vw;
        }
        h1 {
            font-size: 1.8rem;
        }
    }
    .navDesktop {
        display: none;
    }
    .navMobile {
        display: contents;
    }
    footer {
        height: 10vh;
    }
} 
@media only screen and (max-width: 280px) { 
    footer {
        width: 100%;
    }
}