.fotos {
    @extend elementoCentrado;
    background-image: url("https://p1.pxfuel.com/preview/162/139/818/wood-texture-white-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0 4rem 0;
    height: 80vh;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    padding: .5rem;
    background-color: black;
}
.fotosDesktop {
    display: contents;
}
.fotosMobile {
    display: none;
}
.fotoProductos {
    img {
        object-fit: cover;
    }
}
.abajoDeFotos {
    padding: 1.5rem;
    text-align: center;
}
iframe {
    padding: 1.5rem;
    transition: all 1s;
    &:hover {
        transform: scale(1.05);
    }
}
@media only screen and (max-width: 520px) {
    .fotos {
        @include hw (78vh, 100vw);
        background-size: cover;
    }
    .fotosDesktop {
        display: none;
    }
    .fotosMobile {
        display: contents;
        img {
            @include hw (70vh, 80vw);
            border-radius: 10%;
            object-fit: cover;
        }
    }
}
@media only screen and (max-width: 360px) {
    .fotos {
        height: 80vh;
    }
    iframe {
        transform: scale(.8);
        @include box (0, 0);
    }
}
@media only screen and (max-width: 280px) {
    iframe {
        transform: scale(.7);
    }
}
