.contenidoProductos {
    padding: 0 10rem 0 10rem;
}
.fotoProductos {
    margin-bottom: 1rem;
    img {
        width: 35%;
        border-radius: 10%;
    }
}
.cajaProductos {
    width: 100%;
    flex-wrap: wrap;
}
.producto {
    display: inline-block;
    @include box (2rem, 1rem);
    background-color: $grisoscuro;
    @include hw (20rem, 14.5rem);
    border-radius: 7%;
    color: white;
    flex-wrap: wrap;
    transition: all 1s;
    &:hover {
        transform: scale(1.05);
    }
    img {
        width: 200px;
        margin-bottom: .5rem;
    }
    .button {
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 520px) {
    .contenidoProductos {
        padding: 0 5rem 0 5rem;
    }
    .fotoProductos{
        img {
        width: 80vw;
        }
    }
}    